[Unit]
Description=Ollama Server
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/OllamaProject
ExecStart=/home/ubuntu/OllamaProject/.venv/bin/python -m app
Restart=always

[Install]
WantedBy=multi-user.target
