[Unit]
Description=Ollama Server
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/OllamaProject
ExecStart=/bin/bash -c 'cd /home/ubuntu/OllamaProject && source .venv/bin/activate && python -m main'
Restart=always

[Install]
WantedBy=multi-user.target
