[Unit]
Description=Ollama Server
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/Ollama
ExecStart=/home/ubuntu/OllamaProject/.venv/bin/python /home/ubuntu/OllamaProject/app.py
Restart=always

[Install]
WantedBy=multi-user.target
