[Unit]
Description=Ollama Quiz App Service
After=network.target

[Service]
WorkingDirectory=/home/ameertabri/OllamaProject
ExecStart=/home/ameertabri/OllamaProject/venv/bin/python backend/main.py
Restart=always
User=ubuntu

[Install]
WantedBy=multi-user.target
